@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html {
    
    -moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    

    font-size: 100%; 
    font-family:futura,helvetica,sans-serif;
}

img {
	width: 80%;
    display: block;
}
    
body {
    margin: .5rem;
    padding: .5rem;
}

.masthead {
    background-color: pink;
    overflow:hidden;
}

.logo {
        height: 6rem;
        width: auto; 
        margin:.5rem 5%;       
}

article {
    margin: 0;
    padding: 0 5%;
    overflow:hidden;
    background-color:white;
}

h1 {
    font-size: 3.5rem;
    margin: 1.5rem 0;
    line-height: 4.5rem
}

h1 + p {
    font-size: 1.1rem;
    font-weight:bold;
}
p {
    line-height:1.5rem;
    margin:0 0 1rem;
}

h2 {
    font-size:1.25rem;
    font-weight:italic;
}
figure {
    margin:0 auto 1rem;
}

figcaption {
    font-size: .75rem;
    margin: .5rem 0 0;
}

footer {
    background-color:pink;
    overflow:hidden;
}

footer p {
    font-size: .75rem;
    margin:.5rem 5% 5rem;
    color:white;
}
footer a {
    color:white;
}